@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@700&family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

* {
  box-sizing: border-box;
  margin: 0px;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  /* Header */
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Quicksand", sans-serif;
  /* font-family: "Montserrat", "Open Sans", "Poppins", sans-serif; */

  /* animation */
  margin: 0px;
  animation: puff 0.6s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards,
    borderRadius 0.2s 2.3s linear forwards;
}

@keyframes puff {
  0% {
    top: 0px;
    height: 100%;
    padding: 0px 100%;
  }
  100% {
    top: 100%;
    height: 0px;
    padding: 0px;
  }
}

@keyframes borderRadius {
  0% {
    border-radius: 0px;
  }
  100% {
    border-radius: 100%;
  }
}

/* Roots */
.underlineT {
  background-color: #403f44;
  height: 5px;
  width: 8%;
  margin: -15px auto 30px;
  border-radius: 20px;
}

.titleSection {
  margin-bottom: 20px;
  text-align: center;
  font-weight: 800;
  font-size: 30px;
}

/* Header */
nav {
  background: rgba(34, 33, 39, 0.6);
  height: 80px;
  width: 100%;
  padding: 0 50px;
  position: fixed;
}
.logo img {
  max-width: 100px;
  float: left;
  max-height: 100%;
  align-items: center;
  padding-top: 12px;
}
nav ul {
  float: right;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
ul li a:hover {
  background: #1b9bff;
  transition: 0.5s;
}
.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}

/* Banners-Desktop */
.banners {
  background-color: #f5f4fa;
  padding: 110px 100px 50px;
  /*padding section*/
}

.banners .container {
  display: flex;
  justify-content: space-around;
}

.banners .txtDescripton {
  padding: 20px 0;
  color: #403f44;
}

.banners img {
  width: 400px;
  border-radius: 7px;
  align-self: center;
}

.banners h3 {
  margin: 0px 0 15px 0;
}

.banners p {
  width: 90%;
}

.banners .buttonGroup {
  margin-top: 20px;
  display: flex;
}

.banners .buttonGroup .btn {
  padding: 15px 24px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-weight: 800;
  width: 180px;
  transition: 0.8s;
}

.banners .btn-1 {
  background-color: #f5f4fa;
  color: #403f44;
  border: 2px solid #403f44;
  margin-right: 10px;
}

.banners .btn-1:hover {
  background-color: #403f44;
  color: #f5f4fa;
  margin-right: 10px;
  box-shadow: 0px 0px 25px #bbbbbb;
  transition: 0.8s;
}

/* WhaatWeNeed */
.whatweneed {
  background-color: #ffffff;
  padding: 40px 150px 20px;
  color: #403f44;
}

.whatweneed .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.whatweneed .container .list-wwn {
  display: flex;
  justify-content: space-between;
  width: 75%;
  padding: 15px 30px;
  background-color: #f5f4fa;
  border-radius: 20px;
  margin-bottom: 20px;
}

.whatweneed .container .list-wwn:hover {
  margin-right: 20px;
  transition: 0.2s;
}

.whatweneed .container .list-wwn p {
  align-self: center;
  width: 70%;
  text-align: left;
}

.whatweneed .container .list-wwn img {
  width: 40px;
  height: 40px;
}

/* S3 */
.S3 {
  background-color: #222127;
  padding: 50px;
  color: #fefeff;
}
.S3 .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.S3 .container .list-benefit {
  display: flex;
  width: 28%;
  margin: 20px 0 20px;
}

.S3 .container .list-benefit img {
  width: 100px;
  height: 100px;
  border-radius: 7px;
  padding: 20px;
  border: 2px solid #fefeff;
  margin-right: 20px;
}

.S3 .container .list-benefit h3 {
  margin-bottom: 10px;
}

.ut-S3 {
  background-color: #fefeff;
}

/* ourteam */
.ourteam {
  background-color: #ffffff;
  padding: 40px 150px 20px;
  color: #403f44;
}

.ourteam .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ourteam .container .list-team {
  width: 30%;
  display: flex;
  border-radius: 12px;
  background-color: #f5f4fa;
  flex-direction: column;
  text-align: center;
  padding: 0 21px 30px;
  margin: 20px 10px 60px;
}

.ut-ourteam {
  margin-bottom: 50px;
}

.ourteam .container .list-team img {
  width: 120px;
  margin-top: -65px;
  align-self: center;
  padding: 0px;
}

.ourteam .container .list-team h3 {
  margin-bottom: 10px;
}

/* Footer */
footer {
  /* position: fixed; */
  bottom: 0px;
  width: 100%;
  background: #111;
  color: #bbbbbb;
}

.about ul li a {
  font-size: 12px;
  text-transform: capitalize;
  display: inline-block;
  color: #bbbbbb;
  font-weight: 300;
  color: #bbbbbb;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.main-content {
  display: flex;
  padding: 10px 50px;
}
.main-content .box {
  flex-basis: 50%;
  padding: 10px 20px;
}
.box h2 {
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}
.box .content {
  margin: 20px 0 0 0;
  position: relative;
}
.box .content:before {
  position: absolute;
  content: "";
  top: -10px;
  height: 2px;
  width: 100%;
  background: #1a1a1a;
}
.box .content:after {
  position: absolute;
  content: "";
  height: 2px;
  width: 15%;
  background: #cccccc;
  top: -10px;
}
.left .content p {
  text-align: justify;
}
.left .content .social {
  margin: 20px 0 0 0;
  text-decoration: none;
}
.left .content .social a {
  padding: 0 2px;
}
.left .content .social a span {
  height: 40px;
  width: 40px;
  background: #bbbbbb;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
  color: #1a1a1a;
  margin-right: 10px;
}
.left .content .social a span:hover {
  background: #bbbbbb;
  color: #1a1a1a;
  box-shadow: 0px 0px 25px #bbbbbb;
  transition: 0.8s;
}
.center .content .fas {
  font-size: 1.4375rem;
  background: #1a1a1a;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
.center .content .fas:hover {
  background: #f12020;
}
.center .content .text {
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
}
.center .content .phone {
  margin: 15px 0;
}
.right form .text {
  font-size: 1.0625rem;
  margin-bottom: 2px;
  color: #656565;
}
.right form .msg {
  margin-top: 10px;
}
.right form input,
.right form textarea {
  width: 100%;
  font-size: 1.0625rem;
  background: #151515;
  padding-left: 10px;
  border: 1px solid #222222;
  color: #bbbbbb;
}
.right form input:focus,
.right form textarea:focus {
  outline-color: #bbbbbb;
}
.right form input {
  height: 35px;
}
.right form .btn {
  margin-top: 10px;
}
.right form .btn button {
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  background: #bbbbbb;
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}
.right form .btn button:hover {
  box-shadow: 0px 0px 20px #bbbbbb;
}
.bottom center {
  padding: 5px;
  font-size: 0.9375rem;
  background: #151515;
}
.bottom center span {
  color: #656565;
}
.bottom center a {
  color: #bbbbbb;
  text-decoration: none;
}
.bottom center a:hover {
  text-decoration: underline;
}

/* Mobile */
@media all and (max-width: 1000px) {
  /* Ultility */
  .underlineT {
    width: 15%;
  }

  /* Banners-Mobile */
  .banners {
    padding: 100px 20px 20px; /*padding section*/
  }

  .banners .container {
    display: flex;
    flex-direction: column-reverse;
  }
  .banners .txtDescripton {
    padding: 10px 0;
  }

  .banners img {
    width: 100%;
  }

  .banners h3 {
    margin: 0px 0 15px 0;
  }

  .banners p {
    width: 100%;
  }

  .banners .buttonGroup {
    margin-top: 20px;
  }

  .banners .buttonGroup .btn {
    padding: 15px 24px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-weight: 800;
    width: 50%;
    transition: 0.8s;
    font-size: 14px;
  }
  /* whatweneed */
  .whatweneed {
    padding: 20px 20px; /*padding section*/
  }

  .whatweneed .container .list-wwn {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 15px 30px;
    border-radius: 20px;
    margin-bottom: 20px;
  }

  .whatweneed .container .list-wwn p {
    align-self: center;
    width: 100%;
    text-align: center;
  }

  .whatweneed .container .list-wwn img {
    visibility: hidden;
    width: 0px;
  }

  /*  */
  .S3 {
    padding: 20px 20px; /*padding section*/
  }

  .banners .container {
    /* display: flex;
    flex-direction: column; */

    flex-wrap: wrap;
    justify-content: center;
  }

  .S3 .container .list-benefit {
    display: flex;
    width: 100%;
    margin-bottom: 30px;
  }

  /*  */
  .ourteam {
    padding: 50px 20px 20px; /*padding section*/
  }

  .ut-ourteam {
    margin-bottom: 50px;
  }

  .ourteam .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .ourteam .container .list-team {
    width: 100%;
    display: flex;
    border-radius: 12px;
    flex-direction: column;
    text-align: center;
    padding: 0 21px 30px;
    margin: 20px 10px 60px;
  }
  /*  */
  footer {
    /* position: relative; */
    bottom: 0px;
    z-index: 1000;
  }
  .main-content {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box {
    margin: 5px 0;
  }
}

@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }

  nav {
    padding: 0 10px;
    background: rgba(34, 33, 39, 1);
    z-index: 100;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(34, 33, 39, 0.6);
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  a:hover,
  a.active {
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul {
    left: 0;
  }
}
