@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@700&family=Poppins&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', 'Open Sans', 'Poppins',  sans-serif;
}
header{
    height: 85px;
    width: 100%;
    background-color:#ecf0f1;
    position: fixed;
    top: 0;
    z-index: 10;
}
.header-left{
    float: left;
}
.logo{
    width: 7%;
    height: auto;
    margin-top: 10px;
}

.container {
    width: 1170px;
    margin: 0 auto;
  }

.main{
    padding: 180px 0 100px 0;
    background: #521751
  }
.benefit-wrapper{
    height: 720px;
    padding-bottom: 80px;
    text-align: center;
    background-color:#F8EFBA;
  }
.heading{
    padding-top: 60px;
    color: #2c3e50;
    padding-bottom: 30px;
    border-bottom: 1px solid #2c3e50;
  }
section{
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 25px;
}
.benefit{
    float: left;  
    margin-top: 20px;          

  }
.benefit-icon{
    position: relative;
    font-size: 18px;
    font-weight: bold;
  }
.benefit-icon p{      
    color: #2c3e50;            
    top: 90px;            
    width: 100%;
  }
.icon{
    border: 3px solid #2c3e50;
    border-radius: 8px;
    padding: 20px;
  }
.deskripsi{
    width: 80%;
    display : inline-block;
    margin-top: 20px;
    font-size : 15px;
    color: black;
    font-weight: normal;
  }
.team img {
    height: 100%;
    width: auto;
    clip-path: circle()0;

}
.team h3{
    text-align: center;
  }
.grid-1 {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 40px;
  }
  .teamH{
      text-align: center;
      padding-top: 30px;
      padding-bottom: 60px;
  }

  .card {
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: -7px -7px 20px rgba(0, 0, 0, 0.2),
                 7px  7px 20px rgba(0, 0, 0, 0.2)
  }
  .card h3{
    text-align: center;
  }
  .card p{
    text-align: center;
  }
  .circle {
      background-color: transparent;
      border:3px solid burlywood;
      height:90px;
      position: relative;
      top: -35px;
      left: 120px;
      border-radius:50%;
      -moz-border-radius:50%;
      -webkit-border-radius:50%;
      width:90px;
  } 


