@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@700&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: all 0.4s ease;
}

/* <!---Bagian Header---> */
  
  body {
    margin: 0px;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    animation: puff 0.8s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, borderRadius 0.2s 2.3s linear forwards;
  }
@keyframes puff {
  0%
  {
    top: 0px;
    height: 100%;
    padding: 0px 100%;
    
  }
  100%
  {
    top:100%;
    height: 0px;
    padding: 0px;
  }
}
@keyframes borderRadius
{
  0%
  {
    border-radius: 0px;
  }
  100%
  {
    border-radius: 100%;
  }
}
  
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 10%;
    width: 100%;
    background-color: #385877;
    z-index: 100;
  }

  
  .nav  .nav-header {
    display:flex;
    float: left;
    align-items: center;
  }
  
  .nav  .nav-header  .nav-title {
    display: flex;
    float: left;
  }
  
 
  .logo img{
    width: 15vh;
    padding: 0% 20%;
    float: left;
    display: flex;
    align-items: center;
  }
  
  .nav  .nav-btn {
    display: none;
  }
  
  .nav  .nav-links {
    display: flex;
    float: right;
    font-size: 20px;
  }
  
  .nav  .nav-links  a {
    display:flex;
    float: left;
    align-items: center;
    padding: 20px 10px 13px 10px;
    align-items: center;
    text-decoration: none;
    color: #efefef;
  }
  
  .nav  .nav-links  a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .nav  #nav-check {
    display: none;
  }

/* Banner */
.BannerIntro {
  margin-top: 50px;
  background-color: #f7fafb;
  padding: 50px 36px 34px 137px;
}

.clear {
  clear: left;
}

.BannerIntro .txtDescription {
  float: left;
  width: 600px;
  height: 350px;
  font-weight: 500;
}

.TitleSection {
  font-size: 28px;
  color: #000;
}

.BannerIntro .txtDescription .DescritptionSection {
  font-size: 16px;
  margin: 15px 0px;
  color: #000;
}

.BannerIntro img {
  width: 500px;
  float: right;
  border-radius: 50px 0px 0px 50px;
}

.BannerIntro .btn-wrapper .btn {
  padding: 18px 24px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-weight: 800;
  width: 180px;
  transition: 0.8s;
}

.btn-1 {
  background-color: white;
  color: #116963;
  border: 2px solid #116963;
  margin-right: 10px;
}

.btn-2 {
  background-color: #116963;
  color: white;
}

.btn-1:hover {
  background-color: #116963;
  color: white;
}
.btn-2:hover {
  background-color: white;
  color: #116963;
  border: 2px solid #116963;
}

/* Section 2 */
.Section2 {
  text-align: center;
  padding: 20px 0 50px;
}

.Section2 .TitleSection {
  font-weight: 800;
  color: #17827b;
  margin: 20px;
}

.btmLineTitile {
  background-color: #73cfc9;
  height: 7px;
  width: 100px;
  border-radius: 30px;
  margin: -20px auto 20px;
}

.List {
  margin: 30px auto;
  /* padding: auto; */
  width: 80%;
  background-color: white;
  padding: 10px 80px;
  height: 70px;
  border-radius: 15px;
  box-shadow: 0px 0px 15px #888888;
}

.List p {
  float: left;
  font-size: 20px;
  font-weight: 0;
  margin-top: 12px;
  color: #116963;
}

.List img {
  float: right;
  width: 50px;
}

.clear {
  clear: left;
}
/* End Banner */
  
  @media (max-width:600px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .logo img{
      align-items: center;
      width: 7em 0px;
      
      margin-bottom: 10px;
    }
    .nav  .nav-btn  label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav  .nav-btn  label:hover,.nav  #nav-check:checked ~ .nav-btn  label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav  .nav-btn  label  span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav  .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #333;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 70px;
      left: 0px;
    }
    .nav  .nav-links  a {
      display: block;
      width: 100%;
    }
    .nav  #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav  #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }
/* <!---Bagian Main---> */
.container {
    width: 1170px;
    margin: 0 auto;
  }

.main{
    padding: 180px 0 100px 0;
    background: #521751
  }

/* <!---Bagian Benefit---> */
.benefit-wrapper{
    height: 720px;
    padding-bottom: 80px;
    text-align: center;
    background-color:#F8EFBA;
  }
.heading{
    padding-top: 60px;
    color: #2c3e50;
    padding-bottom: 30px;
    border-bottom: 1px solid #2c3e50;
  }
section{
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 25px;
}
.benefit{
    float: left;  
    margin-top: 20px;          

  }
.benefit-icon{
    position: relative;
    font-size: 18px;
    font-weight: bold;
  }
.benefit-icon p{      
    color: #2c3e50;            
    top: 90px;            
    width: 100%;
  }
.icon{
    border: 3px solid #2c3e50;
    border-radius: 8px;
    padding: 20px;
  }
.deskripsi{
    width: 80%;
    display : inline-block;
    margin-top: 20px;
    font-size : 15px;
    color: black;
    font-weight: normal;
  }
.team img {
    height: 100%;
    width: auto;
    clip-path: circle()0;

}
.team h3{
    text-align: center;
  }
.grid-1 {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 40px;
  }
  .teamH{
      text-align: center;
      padding-top: 30px;
      padding-bottom: 60px;
  }

  .card {
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: -7px -7px 20px rgba(0, 0, 0, 0.2),
                 7px  7px 20px rgba(0, 0, 0, 0.2)
  }
  .card h3{
    text-align: center;
  }
  .card p{
    text-align: center;
  }
  .circle {
      background-color: transparent;
      border:3px solid burlywood;
      height:90px;
      position: relative;
      top: -35px;
      left: 120px;
      border-radius:50%;
      -moz-border-radius:50%;
      -webkit-border-radius:50%;
      width:90px;
  } 
/* <!---Bagian Footer---> */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  color: #d9d9d9;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.content1{
  position: relative;
  margin: 130px auto;
  text-align: center;
  padding: 0 20px;
}
.content1 .text{
  font-size: 2.5rem;
  font-weight: 600;
  color: #202020;
}
.content1 .p{
  font-size: 2.1875rem;
  font-weight: 600;
  color: #202020;
}
footer{
  position: fixed;
  bottom: 0px;
  width: 100%;
  background: #111;
}

.about ul li a{
  font-size: 12px;
  text-transform: capitalize;
  display: inline-block;
  color: #bbbbbb;
  font-weight: 300;
  color: #bbbbbb;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover{
  color: #ffffff;
  padding-left: 8px;
}

.main-content{
  display: flex;
}
.main-content .box{
  flex-basis: 50%;
  padding: 10px 20px;
}
.box h2{
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}
.box .content{
  margin: 20px 0 0 0;
  position: relative;
}
.box .content:before{
  position: absolute;
  content: '';
  top: -10px;
  height: 2px;
  width: 100%;
  background: #1a1a1a;
}
.box .content:after{
  position: absolute;
  content: '';
  height: 2px;
  width: 15%;
  background: #f12020;
  top: -10px;
}
.left .content p{
  text-align: justify;
}
.left .content .social{
  margin: 20px 0 0 0;
}
.left .content .social a{
  padding: 0 2px;
}
.left .content .social a span{
  height: 40px;
  width: 40px;
  background: #1a1a1a;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}
.left .content .social a span:hover{
  background: #f12020;
}
.center .content .fas{
  font-size: 1.4375rem;
  background: #1a1a1a;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
.center .content .fas:hover{
  background: #f12020;
}
.center .content .text{
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
}
.center .content .phone{
  margin: 15px 0;
}
.right form .text{
  font-size: 1.0625rem;
  margin-bottom: 2px;
  color: #656565;
}
.right form .msg{
  margin-top: 10px;
}
.right form input, .right form textarea{
  width: 100%;
  font-size: 1.0625rem;
  background: #151515;
  padding-left: 10px;
  border: 1px solid #222222;
}
.right form input:focus,
.right form textarea:focus{
  outline-color: #3498db;
}
.right form input{
  height: 35px;
}
.right form .btn{
  margin-top: 10px;
}
.right form .btn button{
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  background: #f12020;
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: .3s;
}
.right form .btn button:hover{
  background: #000;
}
.bottom center{
  padding: 5px;
  font-size: 0.9375rem;
  background: #151515;
}
.bottom center span{
  color: #656565;
}
.bottom center a{
  color: #f12020;
  text-decoration: none;
}
.bottom center a:hover{
  text-decoration: underline;
}
@media screen and (max-width: 900px) {
  footer{
    position: relative;
    bottom: 0px;
  }
  .main-content{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box{
    margin: 5px 0;
  }
}



